
/* About us */

.about-us-container {
    margin: max(100vh, 750px) 0 0 0;
    height: max(100vh, 500px);
    background: white;
  }


  @media (max-width: 991.98px) {
    #about-us-heading {
      margin-top: 0 !important;
      font-size: 3rem !important;
    }
    .about-us-wheel {
      height: 50px !important;
      width: 50px !important;
    }
    .subheading-container {
      
      margin: 0 30px !important;
    }
  
    #main-section-subheading {
      font-size: 1rem !important;
    }
  
    #about {
      min-height: 600px !important;
    }
    #about > .container {
      padding: 20px !important;
    }
  
    #about-us-content {
      margin-top:20px !important;
    }
    #about-us-text {
      font-size: 1.2rem !important;
      margin-bottom: 20px !important;
      margin: auto 30px;
    }
  

  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  .about-us-wheel {
    animation: rotate 4s infinite linear;
  }
  
  
  