/* index.html */
.main-content {
    font-family: "Bebas Neue", cursive;
    height: 100vh;
    min-height: 750px;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    background-color: black;
    /* animation: fade 4s; */
    top: 0;
    color: black;
    padding: 30vh 0 0 0;
  }

#top-text-container {
    animation: slide 1.5s;
    animation-timing-function: ease-out;
}

/* About us */

.about-us-container {
    margin: max(100vh, 750px) 0 0 0;
    height: 100vh;
    background: white;
  }


  @media (max-width: 991.98px) {
    #about-us-heading {
      margin-top: 0 !important;
      font-size: 3rem !important;
    }
    .about-us-wheel {
      height: 50px !important;
      width: 50px !important;
    }
    .subheading-container {
      
      margin: 0 30px !important;
    }
  
    #main-section-subheading {
      font-size: 1rem !important;
    }
  
    #about {
      min-height: 600px !important;
    }
    #about > .container {
      padding: 20px !important;
    }
  
    #about-us-content {
      margin-top:20px !important;
    }
    #about-us-text {
      font-size: 1.2rem !important;
      margin-bottom: 20px !important;
      margin: auto 30px;
    }
  
    .footer-left {
      margin-right: 50px;
    }
  
    .footer-right {
      border: solid white;
      border-width: 0 0 0 2px;
      margin:20px;
      padding: 20px;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  .about-us-wheel {
    animation: rotate 4s infinite linear;
  }
  
  
  