/* Global Styling: used on more than one page */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Dirt&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

/* Navbar */
.navbar {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  z-index: 100;
}

.nav-link-custom {
  color: white;
  opacity: 0.8;
}

.nav-link-custom:hover {
  text-decoration: underline;
  color: white;
  opacity: 1;
  transform: scale(3);
}

.nav-active {
  background-color: white;
  color: black;
  padding: 1px 10px;
  border-radius: 2px;
  opacity: 1;
}

.nav-active:hover {
  text-decoration: underline;
  color: black;
  opacity: 1;
}

.navigation-list > li {
  margin: 5px 16px;
}


@keyframes slide {
  from {
    margin: 50px auto auto auto;
    opacity: 0;
  }
  to {
    margin: 0 auto 0 auto;
    opacity: 1;
  }
}

@media (max-width: 991.98px) {
    #navbarSupportedContent {
      background: rgba(0, 0, 0, 0.7) !important;
      border-radius: 50px;
    }
    .footer-left {
        margin-right: 50px;
      }
    
      .footer-right {
        border: solid white;
        border-width: 0 0 0 2px;
        margin:20px;
        padding: 20px;
      }
}



/* Footer */

.footer-left > * {
  margin-bottom: 0;
}
.footer-right > * {
  margin-bottom: 0;
}

/* Social Media Links */

.social-media-container {
  text-decoration: none;
  position: fixed;
  right: 0px;
  bottom: 30%;
  background: black;
  z-index: 50;
  border-radius: 5px;
}

.social-media-container > div >  a {
    color: white;
}

.social-media-container > * {
  padding: 10px;
}


.social-media-container:first-child {
  padding: 10px 10px 0 10px;
}

.social-media-container:last-child {
  padding: 0 10px 10px 10px;
}


/* index.html */
.main-content {
    font-family: "Bebas Neue", cursive;
    height: 100vh;
    min-height: 750px;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    background-color: black;
    /* animation: fade 4s; */
    top: 0;
    color: black;
    padding: 30vh 0 0 0;
  }

#top-text-container {
    animation: slide 1.5s;
    animation-timing-function: ease-out;
}


