


.team-member{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 !important;
}

.team-heading{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 2em;
    margin:1.5em;
}

.team-container {
    margin: max(100vh, 750px) 0 0 0;
    padding-top: 30px;
    background: white;
    background: rgb(150, 150, 150);
}

.team-section {
    margin: 10px auto;

}

div.team-member-name.co-coordinator{
    font-size: 2em;
}



.team-member{
    border-radius: 5%;
    margin: 0.2em;
}

.team-member-description {
    font-size: 1.3em;
}

.team-member-container ul {
  margin: 0;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  display: block;
  left: 45%;
  transform: translateX(-50%);
  opacity: 0;
}

.team-member-container ul li {
  width: 30px;
  height: 30px;
  border: 1 px solid #fff;
  border-radius: 50%;
  margin: 3px;
  padding: 25px;
  display: inline-block;
}
.team-member-container a {
  color: #fff;
}

.img-box:hover {
  opacity: 0.5;
}

.img-box:hover ul {
  opacity: 1;
}

.img-box > img {
  border-radius: 50%;
  animation: 5s;
  padding: 10px;
  object-fit: cover;
}

.team-member-container {
    margin: auto auto;
    padding: 10px 20px;
    max-width: fit-content;
    border-radius: 5%;
}

.team-member-container:hover {
    box-shadow: 0 0 0 1px black;;
    transform: scale(1.05);
    transition: 0.1s;
    background-color: rgba(0,0,0,0.15);
}

.team-member-name {
    font-size: 1.5rem;
}



@media (max-width: 991.98px) {
    #team {
        min-height: 600px !important;
      }
      #team > .container {
        padding: 20px !important;
      }

      #top-text-container > h1 {
        font-size: 4rem !important;
      }
      .team-member {
        max-width: 100%;
      }
      .row {
        display: block !important;
      }

  

}



